body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.header {
    background-color: #FFEFDB;
    color: #FFEFDB;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__icon {
    width: 24px;
    height: 24px;
}

.Titre {
    font-size: 1.8rem;
    margin: 0;
    text-align: center;
    color: #000000;
    padding: 10px;
    display: flex;
    align-items: center;
}


main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    color: #ffffff;
    font-size: 1.2rem;
    text-align: center;
}

.gallerie {
    width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
}

button {
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer__button1 {
    background-color: #3D056A;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

.footer img {
    width: 40px;
    margin: 0 10px;
}

.mmi {
    width: 80px;
}

.quoicoubae{
    width: 200px;
}