body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #3D056A;
}

.header {
    background-color: #FFEFDB;
    color: #FFEFDB;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__icon {
    width: 24px;
    height: 24px;
}

.header__title {
    color: black;
    font-size: 1.5rem;
    margin: 0;
    flex-grow: 1; 
    text-align: center; 
}

.Titre {
    color: black;
    justify-content: center;
    text-align: center;    
    font-size: 1.5rem;
    margin: 0;
    flex-grow: 1; 
    text-align: center; 
}
